---
import type { Page } from '../schemas'
import '../styles/global.css'

type Props = Page

const { title, description } = Astro.props
const NAME = 'Tsuyoshi Yamaguchi'
const pageTitle = title ? `${title} | ${NAME}` : NAME
const pageDescription = description ?? pageTitle
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={pageDescription} />
		<meta property="og:site_name" content="Tsuyoshi Yamaguchi" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={`https://tsuyoshi.dev${Astro.url.pathname}`} />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content={pageDescription} />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="675" />
		<meta property="og:locale" content="en" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import 'open-props/style';
</style>
