---
import BaseLayout from './BaseLayout.astro'

type Props = {
	frontmatter: {
		/** Post title */
		title: string
		/** Post description */
		description: string
		/** Poblished date */
		pubDate: string
	}
}

const {
	frontmatter: { title, description, pubDate },
} = Astro.props

const formattedPubDate = new Date(pubDate).toLocaleDateString('en-US', {
	year: 'numeric',
	month: 'long',
	day: 'numeric',
})
---

<BaseLayout title={title} description={description}>
	<article>
		<h1>{title}</h1>
		<time datetime={pubDate}>{formattedPubDate}</time>
		<slot />
	</article>
</BaseLayout>

<style is:inline>
	article {
		max-inline-size: 62rem;
		margin-inline: auto;
		margin-block: 0;
	}

	h1 {
		margin-block-end: var(--size-4);
		font-weight: var(--font-weight-9);
		letter-spacing: var(--size-2);
		color: var(--green-4);
	}

	h2 {
		margin-block: var(--size-4);
	}

	h3 {
		margin-block: var(--size-2);
	}

	time {
		display: block;
		font-family: var(--font-mono);
		text-align: end;
		color: var(--green-4);
	}

	li {
		margin-block: var(--size-2);
	}
</style>
